:root {
    --primary-text-color: #757575; 
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #ffffff;
    --line-color:#ECECEC;
    --team-color: #F5F4FA;
    --footer-bg: #2F303A;
 

    .section {  
    color: var(--title-text-color);}
